*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.algolia-places
{
    width: auto;
}

body{
    display:flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: rgb(162, 152, 187); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url("images/unnamed.jpg");
}

 nav{
    width: 100%;
}
#nav-bar{
    width: auto;
    height: 8vh;
    background-color: crimson;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    overflow: hidden;
}

#nav-bar .head{
    display:flex;
    justify-content: center;
    align-items: center;
}

#nav-bar .head p{
    /* padding: 30px; */
    color:linen;
    font-weight: 1000;
    font-size: 1.5rem; 
}

#nav-bar input{
    width:20%;
    padding: 3.5px;
    border-radius: 4px;
    display: flex;
    justify-content:center;    
    align-items: center;
    border: none;
}

#nav-bar input:focus{
    outline: none;
}

#nav-bar button{
    background-color: rgba(205, 226, 19, 0.5);
    padding:0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: none;
    color: rgb(56, 15, 56);
    font-weight: 600;
}
#nav-bar button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: darksalmon;
}

#nav-bar a{
    text-decoration: none;
    color:rgb(224, 160, 224);
    font-size: 1.2rem;
    font-weight: 800;
}

 .date-container {
     margin-top: 3px;
    margin-left:-600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height:15vh;
    width:15vw;
    background-color: rgba(141, 104, 104, 0.5);
    border-radius: 10px;
    align-items: center ;
    justify-content: center;
    color: salmon;
    margin-bottom: 0.5rem;
}

.date-container .time{
    color: rgb(163, 238, 196);
    font-size: 2rem;
}

.main-container
{
    display: flex;
    flex-direction: column;
    width: 55vw;
    max-height: 40vh;
    justify-content: center;
    align-items: center;
    background-color:rgba(12, 49, 28,0.2);
    margin: 0 50px 0 50px;
    /* margin-top:; */
    padding: 50px 0px 50px 0px;
}
.main-container h2
{
    font-size: 40px;
    margin-bottom: 5px;
    text-align: center;
    color: rgb(170, 235, 235);
}
.main-container div
{
    font-size: 22px;
    margin-bottom: 5px;
}
.main-sc-input
{
    width: 35vw;
    padding: 10px 20px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
}

.ap-suggestion {
    cursor: pointer;
    height: 26px;
    line-height: 8px;
    padding: 18px;
    overflow: hidden;
}

.ap-input-icon svg{
    /* color:chartreuse */
    fill: rgb(85, 92, 104);
    display: none;
}

.input-icons i {
    position: absolute;
}

.icon {
    padding: 10px;
    right: 450px;
    z-index: 1;
    color: darkgray;
    }

.icon:hover{
color: dimgray;
cursor: pointer;
}

.wt-btn 
{
    padding: 10px 20px;
    margin: 10px;
    margin-top: 15px;
    background-color: transparent;
    border: 2px solid rgb(226, 185, 193);
    border-radius: 30px;
}
.fc-btn
{
    padding: 10px 20px;
    margin: 10px;
    margin-top: 15px;
    background-color: transparent;
    border: 2px solid rgb(236, 193, 202);
    border-radius: 30px;
}
.wt-btn:hover{
    background-color: rgb(182, 85, 49);
    cursor: pointer;
}
.fc-btn:hover{
    background-color: rgb(182, 85, 49);
    cursor: pointer;
}
.weather-data
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55vw;
    /* min-height: 50vh; */
    /* align-items: center; */
    background-color:  rgba(255, 12, 12, 0.05);
     margin:0% 50px 0% 50px;
    /* margin-top: 0%; */ 
    /* padding: 15px 0px 15px 0px; */
}

.city-name{
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(194, 66, 44);
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.weather-data .data-city{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    height:55vh;
}

.weather-data .data-city .city-data{
    display: flex;
    justify-content: center;
    align-items: center;
    width:20vw;
    height:10vh;
    background-color: rgba(255,255,255,0.1);
    margin: 1px;
    color: honeydew;
}

.weather-data .data-city .city-data:hover{
    transform: scale(1.05);
    background-color: rgb(235, 70, 11,0.1);
}

.weather-data .celfa{
    background-color: rgb(44, 164, 194);
    padding:5px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
}

/* #forecast-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: auto;
    background-color: grey;
    width: 50vw;
    height:55vh;
} */

/* #forecast-data .forecast{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: olivedrab;
    width:20vw;
    height:10vh;
} */

footer {
    display: block;
    background-color: rgba(12, 122, 60,0.3);
    border-top: 2px solid red;
    height: 50px;  
    margin-top: 20px; 
    width: 100%;
    bottom:0;
    left:0;
    position: absolute;
  }

footer a{
    text-decoration: none;
    color: #f3bdbd;
    font-weight: 800;
    display: flex;
    padding-left: 1rem;
    padding-top: 1.3rem;
    font-size: 1.1rem;
}